extends ../../includes/layout

block link
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0")
  meta(name="keywords" content="")
  meta(name="description" content="xxx")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css", rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css", rel="stylesheet")
  link(href="/libs/css/index/index.min.css",rel="stylesheet")
  
block content
  .banner
    .owl-carousel.owl-theme#banner
      each item in banners
        div.item
          a(href="#{item.ChannelContent.Link}" target="_blank")
            img(src="http://pic01.zczj.com/homeshow/#{item.ChannelContent.Pic}", alt="")


  .news-list
    each item in news.rows
      if item.News
        .item
          .img
            a(href="")
              
                img(src="http://pic01.zczj.com//counseling/#{item.News.newimages}", alt="")
          .con
            .title #{item.News.newtitle} ==== #{item.News.NewsID}

  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js")
  script(src="/libs/scripts/js/index/index.min.js")
  